
html, body, #map_canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#map_canvas {
  position: relative;
  height: 500px;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

header {
  height: 100px;
  font-size: 50px;
}

.btn {
  margin-top: 16px;  
  margin-left: 30px;
  height: 32px;
  outline: none;
  background-color: #6699FF;
  color: white;
  font-family: Georgia;
  font-size: 15px;
}
