
html, body, #map_canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#map_canvas {
  position: relative;
  height: 500px;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

header {
  color: white;
  margin: auto;
  height: 60px;
  font-size: 60px;
}

.header {
  background-color: #2929A3;
  height: 100px;
  display: flex;
}

.btn {
  margin-top: 16px;  
  margin-left: 30px;
  height: 32px;
  width: 200px;
  outline: none;
  background-color: #0099CC;
  color: white;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 15px;
}

.btn:hover {
  /*background-color: #3366FF;*/
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

a { 
  margin: auto;
  font: italic 25px Georgia;
  text-decoration: none;
  color: black;
}

a:hover { 
  color: #00CCFF;
  text-decoration: underline;
}

.uiSref {
  height: 50px;
  display: flex;
}

li {
  list-style: none;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

/*#map_canvas.savedListMap {
  width: 70%;
}*/

li.savedListItem{
  position: relative;
  height: 50px;
  line-height: 50px;
  margin-left: 40px;
  font-size: 30px;
  color: #6600CC;
}

.labelContent {
  font-size: 15px;
  color: #663300;
  background-color: white;
  /*border: 1px solid black;*/
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

.searchHistory {
  margin: 20px;
  height: 100%;
  border: 2px solid black;
  border-radius: 20px;
}
